.root {
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 300px;
  height: 200px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px #ccc;
  position: relative;
}

.contentWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.btnContainer {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 20px;
  padding: 20px;
  background: white;
  border-radius: 10px;
}

.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 130px;
}

.name {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-bottom: 10px;
}

.description {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
  color: grey;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #f49967;
  color: #FFFFFF;
  background-color: #f49967;
  border-radius: 5px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #694937;
  }

  &:active {
    background-color: #694937;
    border-color: #1e0d03;
  }
}

.btnRoot{
  display: flex;
  width: 100%;
  justify-content: flex-start;
}
